.container{
    color: slategray;
    background-color: whitesmoke;
    width:850px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    margin: -10px;
}
img{
    max-width: 200px;
    max-height: 200px;
    margin:18px;
}
.row-1{
    background-color:palevioletred;
    height: 250px;
    width: 750px;
    display: flex;
    justify-content: center;
}
.row-2{
    background-color: plum;
    height: 250px;
    width: 750px;
    display: flex;
    justify-content: center;
}
.row-3{
    background-color:paleturquoise;
    height: 250px;
    width: 750px;
    display: flex;
    justify-content: center;
}
.link{
    color: slategray;
}