h1 {
    color:rebeccapurple;
    font-size: 50px;
}
/*attahed to lines 12-14*/
.is-centered {
    text-align: center;
}
.is-red {
    color: red;
}
/*attached to line 15-22*/
.quote p {
    color: darkslategrey;
    font-style: italic;
}
/*attached to lines 23-33*/
.header > img {
    height: 50px;
}
/*attached to lines 34-40*/
input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}
/*attached to no lines,This property adjusts all border elements in one line.
 The first value is the border thickness. The second value is the border type. 
 The third value is the border color.The border property can also be broken 
 down into separate lines using border-width, border-style and border color. 
 Additionally, you can select very specifically which border you want to 
 style by using border-top, border-bottom, border-right, border-left.*/
button {
    border: 2px dotted green;
  }
  div {
    border: 1px solid #000000;
  }
  p {
    border-right: 1px groove rgb(100,100,100);
    border-left: 1px groove rgb(200,200,200);
  }
/*This property allows the corners of your border to be given a rounded appearance. 
The values can be set using px or %.*/
button {
    border-radius: 5px;
  }




